{{ 'category-grid.css' | asset_url | stylesheet_tag }}

<section class="categories bg-[#ffffff] py-[80px] mobile:py-[60px]">
  <div class="categories__container page-width">
    {% if section.settings.heading != blank %}
      <h2 class="categories__heading text-[#2F2F2F] font-bold text-[48px] leading-[64px] mobile:text-[32px] mobile:leading-[42px] mb-[48px] mobile:mb-[32px] text-center">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="categories__grid flex flex-wrap gap-[24px]">
        <div class="categories__grid-item categories__grid-item--left w-[calc(50%-12px)] mobile:w-full">
          <div class="categories__grid-card">
            {% for block in section.blocks %}
              {% if forloop.first %}
                {% if block.settings.image != blank %}
                  <div class="categories__grid-media">
                    <a href="{{ block.settings.link }}">
                      <picture>
                        {% if block.settings.mobile_image != blank %}
                          <source media="(max-width:990px)" srcset="{{ block.settings.mobile_image | image_url }}">
                        {% endif %}
                        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" class="categories__grid-media-img max-w-full w-full block">
                      </picture>
                    </a>
                  </div>
                {% endif %}
                <div class="categories__grid-title pt-[23px] pr-[19px] pb-0 pl-[19px] mobile:pt-[20px] mobile:pr-[10px] mobile:pl-[10px]">
                  <a href="{{ block.settings.link }}" class="categories__grid-title-link font-normal text-[24px] tablet:text-[16px] font-[Arvo] leading-[100%] tracking-[0] text-[#2F2F2F] flex flex-wrap items-center justify-between">
                    <span class="font-normal text-[24px] tablet:text-[16px] leading-[100%] tracking-[0] font-[Arvo] text-[#2F2F2F]">
                      {{ block.settings.title }}
                    </span>
                    <span>
                      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="path-1-outside-1_20_286" maskUnits="userSpaceOnUse" x="-4.6985" y="-5.87878" width="27.5772" height="27.5772" fill="black">
                        <rect fill="white" x="-4.6985" y="-5.87878" width="27.5772" height="27.5772"/>
                        <path d="M16.4463 0.794974L16.4675 11.6556L14.7738 11.6556L14.7738 4.83859C14.7738 4.1329 14.802 3.63892 14.8585 3.35664L14.7526 3.29313L2.36774 15.678L1.24569 14.556L13.6306 2.17108L13.5671 2.06522C13.3413 2.12168 12.8473 2.1499 12.0851 2.1499L5.26814 2.1499L5.26814 0.456241L16.1287 0.477413L16.4463 0.794974Z"/>
                        </mask>
                        <path d="M16.4463 0.794974L16.4675 11.6556L14.7738 11.6556L14.7738 4.83859C14.7738 4.1329 14.802 3.63892 14.8585 3.35664L14.7526 3.29313L2.36774 15.678L1.24569 14.556L13.6306 2.17108L13.5671 2.06522C13.3413 2.12168 12.8473 2.1499 12.0851 2.1499L5.26814 2.1499L5.26814 0.456241L16.1287 0.477413L16.4463 0.794974Z" fill="black"/>
                        <path d="M16.4463 0.794975L16.7463 0.794389L16.7461 0.670467L16.6584 0.582842L16.4463 0.794975ZM16.4675 11.6556L16.4675 11.9556L16.7681 11.9556L16.7675 11.655L16.4675 11.6556ZM14.7738 11.6556H14.4738L14.4738 11.9556L14.7738 11.9556L14.7738 11.6556ZM14.7738 4.83859L15.0738 4.83859L14.7738 4.83859ZM14.8585 3.35664L15.1527 3.41547L15.1941 3.20816L15.0128 3.09939L14.8585 3.35664ZM14.7526 3.29313L14.907 3.03588L14.7061 2.91537L14.5405 3.08099L14.7526 3.29313ZM2.36774 15.678L2.15561 15.8902L2.36774 16.1023L2.57987 15.8902L2.36774 15.678ZM1.24569 14.556L1.03356 14.3438L0.821425 14.556L1.03356 14.7681L1.24569 14.556ZM13.6306 2.17108L13.8427 2.38321L14.0084 2.21758L13.8878 2.01673L13.6306 2.17108ZM13.5671 2.06522L13.8243 1.91088L13.71 1.72027L13.4943 1.77418L13.5671 2.06522ZM12.0851 2.1499V1.8499V2.1499ZM5.26814 2.1499L4.96814 2.1499L4.96814 2.4499L5.26814 2.4499L5.26814 2.1499ZM5.26814 0.456241L5.26872 0.156242L4.96814 0.155656L4.96814 0.456242L5.26814 0.456241ZM16.1287 0.477413L16.3409 0.26528L16.2533 0.177655L16.1293 0.177413L16.1287 0.477413ZM16.4463 0.794975L16.1463 0.795558L16.1675 11.6562L16.4675 11.6556L16.7675 11.655L16.7463 0.794389L16.4463 0.794975ZM16.4675 11.6556L16.4675 11.3556L14.7738 11.3556L14.7738 11.6556L14.7738 11.9556L16.4675 11.9556L16.4675 11.6556ZM14.7738 11.6556L15.0738 11.6556L15.0738 4.83859L14.7738 4.83859L14.4738 4.83859L14.4738 11.6556H14.7738ZM14.7738 4.83859L15.0738 4.83859C15.0738 4.13242 15.1027 3.66543 15.1527 3.41547L14.8585 3.35664L14.5643 3.2978C14.5014 3.6124 14.4738 4.13338 14.4738 4.83859H14.7738ZM14.8585 3.35664L15.0128 3.09939L14.907 3.03588L14.7526 3.29313L14.5983 3.55038L14.7042 3.61389L14.8585 3.35664ZM14.7526 3.29313L14.5405 3.08099L2.15561 15.4659L2.36774 15.678L2.57987 15.8902L14.9648 3.50526L14.7526 3.29313ZM2.36774 15.678L2.57987 15.4659L1.45782 14.3438L1.24569 14.556L1.03356 14.7681L2.15561 15.8902L2.36774 15.678ZM1.24569 14.556L1.45782 14.7681L13.8427 2.38321L13.6306 2.17108L13.4185 1.95894L1.03356 14.3438L1.24569 14.556ZM13.6306 2.17108L13.8878 2.01673L13.8243 1.91088L13.5671 2.06522L13.3098 2.21957L13.3733 2.32542L13.6306 2.17108ZM13.5671 2.06522L13.4943 1.77418C13.3111 1.81999 12.8561 1.8499 12.0851 1.8499V2.1499L12.0851 2.4499C12.8385 2.4499 13.3715 2.42336 13.6398 2.35626L13.5671 2.06522ZM12.0851 2.1499V1.8499L5.26814 1.8499L5.26814 2.1499L5.26814 2.4499L12.0851 2.4499L12.0851 2.1499ZM5.26814 2.1499L5.56814 2.1499L5.56814 0.456242L5.26814 0.456241L4.96814 0.456242L4.96814 2.1499L5.26814 2.1499ZM5.26814 0.456241L5.26755 0.756241L16.1282 0.777411L16.1287 0.477413L16.1293 0.177413L5.26872 0.156242L5.26814 0.456241ZM16.1287 0.477413L15.9166 0.689545L16.2342 1.00711L16.4463 0.794975L16.6584 0.582842L16.3409 0.26528L16.1287 0.477413Z" fill="black" mask="url(#path-1-outside-1_20_286)"/>
                      </svg>
                    </span>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="categories__grid-item categories__grid-item--right w-[calc(50%-12px)] mobile:w-full">
          <div class="categories__grid-subgrid flex flex-wrap gap-[24px]">
            {% for block in section.blocks %}
              {% unless forloop.first %}
                <div class="categories__grid-card w-[calc(50%-12px)]">
                  {% if block.settings.image != blank %}
                    <div class="categories__grid-media">
                      <a href="{{ block.settings.link }}">
                      <picture>
                        {% if block.settings.mobile_image != blank %}
                          <source media="(max-width:990px)" srcset="{{ block.settings.mobile_image | image_url }}">
                        {% endif %}
                        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" class="categories__grid-media-img max-w-full w-full block">
                      </picture>
                      </a>
                    </div>
                  {% endif %}
                  <div class="categories__grid-title pt-[23px] pr-[19px] pb-0 pl-[19px] mobile:pt-[20px] mobile:pr-[10px] mobile:pl-[10px]">
                    <a href="{{ block.settings.link }}" class="categories__grid-title-link font-normal text-[24px] tablet:text-[16px] font-[Arvo] leading-[100%] tracking-[0] text-[#2F2F2F] flex flex-wrap items-center justify-between">
                      <span class="font-normal text-[24px] tablet:text-[16px] leading-[100%] tracking-[0] text-[#2F2F2F] font-[Arvo]">
                        {{ block.settings.title }}
                      </span>
                      <span>
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <mask id="path-1-outside-1_20_286" maskUnits="userSpaceOnUse" x="-4.6985" y="-5.87878" width="27.5772" height="27.5772" fill="black">
                          <rect fill="white" x="-4.6985" y="-5.87878" width="27.5772" height="27.5772"/>
                          <path d="M16.4463 0.794974L16.4675 11.6556L14.7738 11.6556L14.7738 4.83859C14.7738 4.1329 14.802 3.63892 14.8585 3.35664L14.7526 3.29313L2.36774 15.678L1.24569 14.556L13.6306 2.17108L13.5671 2.06522C13.3413 2.12168 12.8473 2.1499 12.0851 2.1499L5.26814 2.1499L5.26814 0.456241L16.1287 0.477413L16.4463 0.794974Z"/>
                          </mask>
                          <path d="M16.4463 0.794974L16.4675 11.6556L14.7738 11.6556L14.7738 4.83859C14.7738 4.1329 14.802 3.63892 14.8585 3.35664L14.7526 3.29313L2.36774 15.678L1.24569 14.556L13.6306 2.17108L13.5671 2.06522C13.3413 2.12168 12.8473 2.1499 12.0851 2.1499L5.26814 2.1499L5.26814 0.456241L16.1287 0.477413L16.4463 0.794974Z" fill="black"/>
                          <path d="M16.4463 0.794975L16.7463 0.794389L16.7461 0.670467L16.6584 0.582842L16.4463 0.794975ZM16.4675 11.6556L16.4675 11.9556L16.7681 11.9556L16.7675 11.655L16.4675 11.6556ZM14.7738 11.6556H14.4738L14.4738 11.9556L14.7738 11.9556L14.7738 11.6556ZM14.7738 4.83859L15.0738 4.83859L14.7738 4.83859ZM14.8585 3.35664L15.1527 3.41547L15.1941 3.20816L15.0128 3.09939L14.8585 3.35664ZM14.7526 3.29313L14.907 3.03588L14.7061 2.91537L14.5405 3.08099L14.7526 3.29313ZM2.36774 15.678L2.15561 15.8902L2.36774 16.1023L2.57987 15.8902L2.36774 15.678ZM1.24569 14.556L1.03356 14.3438L0.821425 14.556L1.03356 14.7681L1.24569 14.556ZM13.6306 2.17108L13.8427 2.38321L14.0084 2.21758L13.8878 2.01673L13.6306 2.17108ZM13.5671 2.06522L13.8243 1.91088L13.71 1.72027L13.4943 1.77418L13.5671 2.06522ZM12.0851 2.1499V1.8499V2.1499ZM5.26814 2.1499L4.96814 2.1499L4.96814 2.4499L5.26814 2.4499L5.26814 2.1499ZM5.26814 0.456241L5.26872 0.156242L4.96814 0.155656L4.96814 0.456242L5.26814 0.456241ZM16.1287 0.477413L16.3409 0.26528L16.2533 0.177655L16.1293 0.177413L16.1287 0.477413ZM16.4463 0.794975L16.1463 0.795558L16.1675 11.6562L16.4675 11.6556L16.7675 11.655L16.7463 0.794389L16.4463 0.794975ZM16.4675 11.6556L16.4675 11.3556L14.7738 11.3556L14.7738 11.6556L14.7738 11.9556L16.4675 11.9556L16.4675 11.6556ZM14.7738 11.6556L15.0738 11.6556L15.0738 4.83859L14.7738 4.83859L14.4738 4.83859L14.4738 11.6556H14.7738ZM14.7738 4.83859L15.0738 4.83859C15.0738 4.13242 15.1027 3.66543 15.1527 3.41547L14.8585 3.35664L14.5643 3.2978C14.5014 3.6124 14.4738 4.13338 14.4738 4.83859H14.7738ZM14.8585 3.35664L15.0128 3.09939L14.907 3.03588L14.7526 3.29313L14.5983 3.55038L14.7042 3.61389L14.8585 3.35664ZM14.7526 3.29313L14.5405 3.08099L2.15561 15.4659L2.36774 15.678L2.57987 15.8902L14.9648 3.50526L14.7526 3.29313ZM2.36774 15.678L2.57987 15.4659L1.45782 14.3438L1.24569 14.556L1.03356 14.7681L2.15561 15.8902L2.36774 15.678ZM1.24569 14.556L1.45782 14.7681L13.8427 2.38321L13.6306 2.17108L13.4185 1.95894L1.03356 14.3438L1.24569 14.556ZM13.6306 2.17108L13.8878 2.01673L13.8243 1.91088L13.5671 2.06522L13.3098 2.21957L13.3733 2.32542L13.6306 2.17108ZM13.5671 2.06522L13.4943 1.77418C13.3111 1.81999 12.8561 1.8499 12.0851 1.8499V2.1499L12.0851 2.4499C12.8385 2.4499 13.3715 2.42336 13.6398 2.35626L13.5671 2.06522ZM12.0851 2.1499V1.8499L5.26814 1.8499L5.26814 2.1499L5.26814 2.4499L12.0851 2.4499L12.0851 2.1499ZM5.26814 2.1499L5.56814 2.1499L5.56814 0.456242L5.26814 0.456241L4.96814 0.456242L4.96814 2.1499L5.26814 2.1499ZM5.26814 0.456241L5.26755 0.756241L16.1282 0.777411L16.1287 0.477413L16.1293 0.177413L5.26872 0.156242L5.26814 0.456241ZM16.1287 0.477413L15.9166 0.689545L16.2342 1.00711L16.4463 0.794975L16.6584 0.582842L16.3409 0.26528L16.1287 0.477413Z" fill="black" mask="url(#path-1-outside-1_20_286)"/>
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              {% endunless %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Categories Grid",
    "settings": [
      {
        "type": "text",
        "label": "Heading",
        "id": "heading"
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Category Card",
        "settings": [
          {
            "type": "image_picker",
            "label": "Image",
            "id": "image"
          },
          {
            "type": "image_picker",
            "label": "Mobile Image",
            "id": "mobile_image"
          },
          {
            "type": "text",
            "label": "Title",
            "id": "title"
          },
          {
            "type": "url",
            "label": "Link",
            "id": "link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Categories Grid"
      }
    ]
  }
{% endschema %}