{{ 'hero-banner.css' |  asset_url |  stylesheet_tag }}

<section class="hero-banner">
  <div class="hero-banner__container">
    <div class="hero-banner__grid flex flex-wrap items-stretch flex-row mobile:flex-col-reverse">
      <div class="hero-banner__grid-item hero-banner__grid-item--left flex flex-wrap items-center w-1/2 mobile:w-full bg-[linear-gradient(129.85deg,_#F0F573_37.43%,_#B0B800_99.39%)] py-[24px] px-[17px]">
        <div class="hero-banner__grid-content">
          {% if section.settings.rating_text != blank %}
            <div class="hero-banner__rating flex flex-wrap items-center mb-[17px]">
              <div class="hero-banner__rating-stars flex flex-wrap items-center">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.0032 2.08278C9.88643 2.08205 9.77176 2.11406 9.67222 2.1752C9.57268 2.23633 9.49227 2.32413 9.44009 2.42864L7.29328 6.72226L2.19563 7.50677C2.08152 7.5244 1.97453 7.57329 1.88652 7.64802C1.7985 7.72275 1.73291 7.82039 1.69701 7.93013C1.6611 8.03986 1.65629 8.15739 1.68311 8.26969C1.70993 8.38199 1.76733 8.48467 1.84895 8.56634L5.37515 12.0925L4.58983 17.1959C4.57226 17.3101 4.58668 17.4269 4.63148 17.5334C4.67628 17.6398 4.74971 17.7318 4.84362 17.7991C4.93753 17.8664 5.04825 17.9063 5.16348 17.9145C5.27872 17.9226 5.39395 17.8987 5.49641 17.8453L9.99917 15.4959L14.5019 17.8453C14.6044 17.8987 14.7196 17.9226 14.8349 17.9145C14.9501 17.9063 15.0608 17.8664 15.1547 17.7991C15.2486 17.7318 15.3221 17.6398 15.3669 17.5334C15.4117 17.4269 15.4261 17.3101 15.4085 17.1959L14.6232 12.0925L18.1494 8.56634C18.231 8.48467 18.2884 8.38199 18.3152 8.26969C18.3421 8.15739 18.3372 8.03986 18.3013 7.93013C18.2654 7.82039 18.1998 7.72275 18.1118 7.64802C18.0238 7.57329 17.9168 7.5244 17.8027 7.50677L12.7051 6.72226L10.5583 2.42864C10.5067 2.32537 10.4276 2.23838 10.3296 2.17734C10.2316 2.11629 10.1187 2.08356 10.0032 2.08278Z" fill="#7E4F26"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.0032 2.08278C9.88643 2.08205 9.77176 2.11406 9.67222 2.1752C9.57268 2.23633 9.49227 2.32413 9.44009 2.42864L7.29328 6.72226L2.19563 7.50677C2.08152 7.5244 1.97453 7.57329 1.88652 7.64802C1.7985 7.72275 1.73291 7.82039 1.69701 7.93013C1.6611 8.03986 1.65629 8.15739 1.68311 8.26969C1.70993 8.38199 1.76733 8.48467 1.84895 8.56634L5.37515 12.0925L4.58983 17.1959C4.57226 17.3101 4.58668 17.4269 4.63148 17.5334C4.67628 17.6398 4.74971 17.7318 4.84362 17.7991C4.93753 17.8664 5.04825 17.9063 5.16348 17.9145C5.27872 17.9226 5.39395 17.8987 5.49641 17.8453L9.99917 15.4959L14.5019 17.8453C14.6044 17.8987 14.7196 17.9226 14.8349 17.9145C14.9501 17.9063 15.0608 17.8664 15.1547 17.7991C15.2486 17.7318 15.3221 17.6398 15.3669 17.5334C15.4117 17.4269 15.4261 17.3101 15.4085 17.1959L14.6232 12.0925L18.1494 8.56634C18.231 8.48467 18.2884 8.38199 18.3152 8.26969C18.3421 8.15739 18.3372 8.03986 18.3013 7.93013C18.2654 7.82039 18.1998 7.72275 18.1118 7.64802C18.0238 7.57329 17.9168 7.5244 17.8027 7.50677L12.7051 6.72226L10.5583 2.42864C10.5067 2.32537 10.4276 2.23838 10.3296 2.17734C10.2316 2.11629 10.1187 2.08356 10.0032 2.08278Z" fill="#7E4F26"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.0032 2.08278C9.88643 2.08205 9.77176 2.11406 9.67222 2.1752C9.57268 2.23633 9.49227 2.32413 9.44009 2.42864L7.29328 6.72226L2.19563 7.50677C2.08152 7.5244 1.97453 7.57329 1.88652 7.64802C1.7985 7.72275 1.73291 7.82039 1.69701 7.93013C1.6611 8.03986 1.65629 8.15739 1.68311 8.26969C1.70993 8.38199 1.76733 8.48467 1.84895 8.56634L5.37515 12.0925L4.58983 17.1959C4.57226 17.3101 4.58668 17.4269 4.63148 17.5334C4.67628 17.6398 4.74971 17.7318 4.84362 17.7991C4.93753 17.8664 5.04825 17.9063 5.16348 17.9145C5.27872 17.9226 5.39395 17.8987 5.49641 17.8453L9.99917 15.4959L14.5019 17.8453C14.6044 17.8987 14.7196 17.9226 14.8349 17.9145C14.9501 17.9063 15.0608 17.8664 15.1547 17.7991C15.2486 17.7318 15.3221 17.6398 15.3669 17.5334C15.4117 17.4269 15.4261 17.3101 15.4085 17.1959L14.6232 12.0925L18.1494 8.56634C18.231 8.48467 18.2884 8.38199 18.3152 8.26969C18.3421 8.15739 18.3372 8.03986 18.3013 7.93013C18.2654 7.82039 18.1998 7.72275 18.1118 7.64802C18.0238 7.57329 17.9168 7.5244 17.8027 7.50677L12.7051 6.72226L10.5583 2.42864C10.5067 2.32537 10.4276 2.23838 10.3296 2.17734C10.2316 2.11629 10.1187 2.08356 10.0032 2.08278Z" fill="#7E4F26"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.0032 2.08278C9.88643 2.08205 9.77176 2.11406 9.67222 2.1752C9.57268 2.23633 9.49227 2.32413 9.44009 2.42864L7.29328 6.72226L2.19563 7.50677C2.08152 7.5244 1.97453 7.57329 1.88652 7.64802C1.7985 7.72275 1.73291 7.82039 1.69701 7.93013C1.6611 8.03986 1.65629 8.15739 1.68311 8.26969C1.70993 8.38199 1.76733 8.48467 1.84895 8.56634L5.37515 12.0925L4.58983 17.1959C4.57226 17.3101 4.58668 17.4269 4.63148 17.5334C4.67628 17.6398 4.74971 17.7318 4.84362 17.7991C4.93753 17.8664 5.04825 17.9063 5.16348 17.9145C5.27872 17.9226 5.39395 17.8987 5.49641 17.8453L9.99917 15.4959L14.5019 17.8453C14.6044 17.8987 14.7196 17.9226 14.8349 17.9145C14.9501 17.9063 15.0608 17.8664 15.1547 17.7991C15.2486 17.7318 15.3221 17.6398 15.3669 17.5334C15.4117 17.4269 15.4261 17.3101 15.4085 17.1959L14.6232 12.0925L18.1494 8.56634C18.231 8.48467 18.2884 8.38199 18.3152 8.26969C18.3421 8.15739 18.3372 8.03986 18.3013 7.93013C18.2654 7.82039 18.1998 7.72275 18.1118 7.64802C18.0238 7.57329 17.9168 7.5244 17.8027 7.50677L12.7051 6.72226L10.5583 2.42864C10.5067 2.32537 10.4276 2.23838 10.3296 2.17734C10.2316 2.11629 10.1187 2.08356 10.0032 2.08278Z" fill="#7E4F26"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.0032 2.08278C9.88643 2.08205 9.77176 2.11406 9.67222 2.1752C9.57268 2.23633 9.49227 2.32413 9.44009 2.42864L7.29328 6.72226L2.19563 7.50677C2.08152 7.5244 1.97453 7.57329 1.88652 7.64802C1.7985 7.72275 1.73291 7.82039 1.69701 7.93013C1.6611 8.03986 1.65629 8.15739 1.68311 8.26969C1.70993 8.38199 1.76733 8.48467 1.84895 8.56634L5.37515 12.0925L4.58983 17.1959C4.57226 17.3101 4.58668 17.4269 4.63148 17.5334C4.67628 17.6398 4.74971 17.7318 4.84362 17.7991C4.93753 17.8664 5.04825 17.9063 5.16348 17.9145C5.27872 17.9226 5.39395 17.8987 5.49641 17.8453L9.99917 15.4959L14.5019 17.8453C14.6044 17.8987 14.7196 17.9226 14.8349 17.9145C14.9501 17.9063 15.0608 17.8664 15.1547 17.7991C15.2486 17.7318 15.3221 17.6398 15.3669 17.5334C15.4117 17.4269 15.4261 17.3101 15.4085 17.1959L14.6232 12.0925L18.1494 8.56634C18.231 8.48467 18.2884 8.38199 18.3152 8.26969C18.3421 8.15739 18.3372 8.03986 18.3013 7.93013C18.2654 7.82039 18.1998 7.72275 18.1118 7.64802C18.0238 7.57329 17.9168 7.5244 17.8027 7.50677L12.7051 6.72226L10.5583 2.42864C10.5067 2.32537 10.4276 2.23838 10.3296 2.17734C10.2316 2.11629 10.1187 2.08356 10.0032 2.08278Z" fill="#7E4F26"/>
                </svg>
              </div>
              <div class="hero-banner__rating-text text-[#7E4F26]">
                {{ section.settings.rating_text }}
              </div>
            </div>
          {% endif %}
          {% if section.settings.heading != blank %}
            <h1 class="hero-banner__heading h1 text-[#2F2F2F]">{{ section.settings.heading }}</h1>
          {% endif %}
          {% if section.settings.btn_label != blank %}
            <div class="hero-banner__cta mt-[30px] mobile:mt-[22px]">
              <a href="{{ section.settings.btn_link }}" class="hero-banner__cta btn">
                <span>
                  {{ section.settings.btn_label }}
                </span>
                <span>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 18L15 12L9 6" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="hero-banner__grid-item hero-banner__grid-item--right w-1/2 mobile:w-full">
        {% if section.settings.image != blank %}
          <picture>
            {% if section.settings.image_mobile != blank %}
              <source media="(min-width: 991px)" srcset="{{ section.settings.image | image_url }}">
            {% endif %}
            <img src="{{ section.settings.image_mobile | image_url }}" class="hero-banner__img max-w-full w-full block" />
          </picture>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Hero Banner",
    "settings": [
      {
        "type": "text",
        "label": "Raing Text",
        "id": "rating_text"
      },
      {
        "type": "text",
        "label": "Heading",
        "id": "heading"
      },
      {
        "type": "text",
        "label": "Button Label",
        "id": "btn_label"
      },
      {
        "type": "url",
        "label": "Button Link",
        "id": "btn_link"
      },
      {
        "type": "image_picker",
        "label": "Desktop Image",
        "id": "image"
      },
      {
        "type": "image_picker",
        "label": "Mobile Image",
        "id": "image_mobile"
      },
      {
        "type": "image_picker",
        "label": "Icon 1",
        "id": "icon_1"
      },
      {
        "type": "image_picker",
        "label": "Icon 2",
        "id": "icon_2"
      }
    ],
    "presets": [
      {
        "name": "Hero Banner"
      }
    ]
  }
{% endschema %}