{{ 'reviews-slider.css' | asset_url | stylesheet_tag }}

<section class="reviews bg-[#FDFFD6] py-[80px] mobile:py-[60px] overflow-x-hidden">
  <div class="reviews__container">
    {% if section.settings.heading != blank %}
      <h2 class="reviews__heading text-[#2F2F2F] font-bold text-[48px] leading-[64px] mobile:text-[32px] mobile:leading-[42px] mb-[48px] mobile:mb-[32px] text-center">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="reviews__list flex gap-[24px] hide-scrollbar">
        {% for block in section.blocks %}
          <div class="reviews__list-item">
            <div class="reviews__list-wrapper flex flex-wrap gap-[24px]">
              {% if block.settings.image != blank %}
                <div class="reviews__list-img w-[calc(50%-12px)] mobile:w-full">
                  <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" class="max-w-full w-full block aspect-[0.94] object-cover rounded-[16px]">
                </div>
              {% endif %}
              <div class="reviews__list-card w-[calc(50%-12px)] mobile:w-full bg-[#ffffff] rounded-[16px] border border-[#7E4F26] px-[20px] py-[20px] flex flex-col justify-center">
                <div class="reviews__card-rating">
                  <svg width="106" height="18" viewBox="0 0 106 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.00292 1.87452C8.8978 1.87387 8.79459 1.90268 8.705 1.9577C8.61542 2.01272 8.54304 2.09174 8.49609 2.1858L6.56396 6.05006L1.97607 6.75611C1.87338 6.77198 1.77708 6.81598 1.69787 6.88324C1.61866 6.9505 1.55962 7.03838 1.52731 7.13714C1.495 7.2359 1.49067 7.34168 1.51481 7.44275C1.53895 7.54382 1.5906 7.63623 1.66406 7.70973L4.83764 10.8833L4.13085 15.4763C4.11504 15.5791 4.12802 15.6842 4.16834 15.7801C4.20866 15.8759 4.27475 15.9587 4.35927 16.0192C4.44379 16.0798 4.54343 16.1157 4.64714 16.123C4.75085 16.1304 4.85456 16.1088 4.94677 16.0608L8.99926 13.9463L13.0518 16.0608C13.144 16.1088 13.2477 16.1304 13.3514 16.123C13.4551 16.1157 13.5547 16.0798 13.6393 16.0192C13.7238 15.9587 13.7899 15.8759 13.8302 15.7801C13.8705 15.6842 13.8835 15.5791 13.8677 15.4763L13.1609 10.8833L16.3345 7.70973C16.4079 7.63623 16.4596 7.54382 16.4837 7.44275C16.5079 7.34168 16.5035 7.2359 16.4712 7.13714C16.4389 7.03838 16.3799 6.9505 16.3007 6.88324C16.2214 6.81598 16.1251 6.77198 16.0225 6.75611L11.4346 6.05006L9.50244 2.1858C9.45604 2.09285 9.3848 2.01457 9.29664 1.95963C9.20847 1.90468 9.10681 1.87523 9.00292 1.87452Z" fill="#7E4F26"/>
                    <path d="M31.0029 1.87452C30.8978 1.87387 30.7946 1.90268 30.705 1.9577C30.6154 2.01272 30.543 2.09174 30.4961 2.1858L28.564 6.05006L23.9761 6.75611C23.8734 6.77198 23.7771 6.81598 23.6979 6.88324C23.6187 6.9505 23.5596 7.03838 23.5273 7.13714C23.495 7.2359 23.4907 7.34168 23.5148 7.44275C23.5389 7.54382 23.5906 7.63623 23.6641 7.70973L26.8376 10.8833L26.1309 15.4763C26.115 15.5791 26.128 15.6842 26.1683 15.7801C26.2087 15.8759 26.2747 15.9587 26.3593 16.0192C26.4438 16.0798 26.5434 16.1157 26.6471 16.123C26.7508 16.1304 26.8546 16.1088 26.9468 16.0608L30.9993 13.9463L35.0518 16.0608C35.144 16.1088 35.2477 16.1304 35.3514 16.123C35.4551 16.1157 35.5547 16.0798 35.6393 16.0192C35.7238 15.9587 35.7899 15.8759 35.8302 15.7801C35.8705 15.6842 35.8835 15.5791 35.8677 15.4763L35.1609 10.8833L38.3345 7.70973C38.4079 7.63623 38.4596 7.54382 38.4837 7.44275C38.5079 7.34168 38.5035 7.2359 38.4712 7.13714C38.4389 7.03838 38.3799 6.9505 38.3007 6.88324C38.2214 6.81598 38.1251 6.77198 38.0225 6.75611L33.4346 6.05006L31.5024 2.1858C31.456 2.09285 31.3848 2.01457 31.2966 1.95963C31.2085 1.90468 31.1068 1.87523 31.0029 1.87452Z" fill="#7E4F26"/>
                    <path d="M53.0029 1.87452C52.8978 1.87387 52.7946 1.90268 52.705 1.9577C52.6154 2.01272 52.543 2.09174 52.4961 2.1858L50.564 6.05006L45.9761 6.75611C45.8734 6.77198 45.7771 6.81598 45.6979 6.88324C45.6187 6.9505 45.5596 7.03838 45.5273 7.13714C45.495 7.2359 45.4907 7.34168 45.5148 7.44275C45.5389 7.54382 45.5906 7.63623 45.6641 7.70973L48.8376 10.8833L48.1309 15.4763C48.115 15.5791 48.128 15.6842 48.1683 15.7801C48.2087 15.8759 48.2747 15.9587 48.3593 16.0192C48.4438 16.0798 48.5434 16.1157 48.6471 16.123C48.7508 16.1304 48.8546 16.1088 48.9468 16.0608L52.9993 13.9463L57.0518 16.0608C57.144 16.1088 57.2477 16.1304 57.3514 16.123C57.4551 16.1157 57.5547 16.0798 57.6393 16.0192C57.7238 15.9587 57.7899 15.8759 57.8302 15.7801C57.8705 15.6842 57.8835 15.5791 57.8677 15.4763L57.1609 10.8833L60.3345 7.70973C60.4079 7.63623 60.4596 7.54382 60.4837 7.44275C60.5079 7.34168 60.5035 7.2359 60.4712 7.13714C60.4389 7.03838 60.3799 6.9505 60.3007 6.88324C60.2214 6.81598 60.1251 6.77198 60.0225 6.75611L55.4346 6.05006L53.5024 2.1858C53.456 2.09285 53.3848 2.01457 53.2966 1.95963C53.2085 1.90468 53.1068 1.87523 53.0029 1.87452Z" fill="#7E4F26"/>
                    <path d="M75.0029 1.87452C74.8978 1.87387 74.7946 1.90268 74.705 1.9577C74.6154 2.01272 74.543 2.09174 74.4961 2.1858L72.564 6.05006L67.9761 6.75611C67.8734 6.77198 67.7771 6.81598 67.6979 6.88324C67.6187 6.9505 67.5596 7.03838 67.5273 7.13714C67.495 7.2359 67.4907 7.34168 67.5148 7.44275C67.5389 7.54382 67.5906 7.63623 67.6641 7.70973L70.8376 10.8833L70.1309 15.4763C70.115 15.5791 70.128 15.6842 70.1683 15.7801C70.2087 15.8759 70.2747 15.9587 70.3593 16.0192C70.4438 16.0798 70.5434 16.1157 70.6471 16.123C70.7508 16.1304 70.8546 16.1088 70.9468 16.0608L74.9993 13.9463L79.0518 16.0608C79.144 16.1088 79.2477 16.1304 79.3514 16.123C79.4551 16.1157 79.5547 16.0798 79.6393 16.0192C79.7238 15.9587 79.7899 15.8759 79.8302 15.7801C79.8705 15.6842 79.8835 15.5791 79.8677 15.4763L79.1609 10.8833L82.3345 7.70973C82.4079 7.63623 82.4596 7.54382 82.4837 7.44275C82.5079 7.34168 82.5035 7.2359 82.4712 7.13714C82.4389 7.03838 82.3799 6.9505 82.3007 6.88324C82.2214 6.81598 82.1251 6.77198 82.0225 6.75611L77.4346 6.05006L75.5024 2.1858C75.456 2.09285 75.3848 2.01457 75.2966 1.95963C75.2085 1.90468 75.1068 1.87523 75.0029 1.87452Z" fill="#7E4F26"/>
                    <path d="M97.0029 1.87452C96.8978 1.87387 96.7946 1.90268 96.705 1.9577C96.6154 2.01272 96.543 2.09174 96.4961 2.1858L94.564 6.05006L89.9761 6.75611C89.8734 6.77198 89.7771 6.81598 89.6979 6.88324C89.6187 6.9505 89.5596 7.03838 89.5273 7.13714C89.495 7.2359 89.4907 7.34168 89.5148 7.44275C89.5389 7.54382 89.5906 7.63623 89.6641 7.70973L92.8376 10.8833L92.1309 15.4763C92.115 15.5791 92.128 15.6842 92.1683 15.7801C92.2087 15.8759 92.2747 15.9587 92.3593 16.0192C92.4438 16.0798 92.5434 16.1157 92.6471 16.123C92.7508 16.1304 92.8546 16.1088 92.9468 16.0608L96.9993 13.9463L101.052 16.0608C101.144 16.1088 101.248 16.1304 101.351 16.123C101.455 16.1157 101.555 16.0798 101.639 16.0192C101.724 15.9587 101.79 15.8759 101.83 15.7801C101.871 15.6842 101.883 15.5791 101.868 15.4763L101.161 10.8833L104.334 7.70973C104.408 7.63623 104.46 7.54382 104.484 7.44275C104.508 7.34168 104.504 7.2359 104.471 7.13714C104.439 7.03838 104.38 6.9505 104.301 6.88324C104.221 6.81598 104.125 6.77198 104.022 6.75611L99.4346 6.05006L97.5024 2.1858C97.456 2.09285 97.3848 2.01457 97.2966 1.95963C97.2085 1.90468 97.1068 1.87523 97.0029 1.87452Z" fill="#7E4F26"/>
                  </svg>
                </div>
                {% if block.settings.title != blank %}
                  <div class="reviews__card-title">
                    <h4 class="reviews__card-title-text mt-[24px] mb-[16px] text-[#000000] font-normal text-[18px] leading-[100%] tracking-normal capitalize">{{ block.settings.title }}</h4>
                  </div>
                {% endif %}
                {% if block.settings.desc != blank %}
                  <div class="reviews__card-desc font-roboto font-normal text-[16px] leading-[150%] tracking-norma text-[#000000] opacity-60">
                    {{ block.settings.desc | remove: '<p>'  | remove: '</p>' }}
                  </div>
                {% endif %}
                {% if block.settings.name != blank and block.settings.date != blank %}
                  <div class="reviews__card-details flex flex-wrap items-center justify-between mt-[24px]">
                    {% if block.settings.name != blank %}
                      <span class="reviews__card-name text-[#000000] font-normal text-[18px] leading-[100%] tracking-normal capitalize">
                        {{ block.settings.name }}
                      </span>
                    {% endif %}
                    {% if block.settings.date != blank %}
                      <span class="reviews__card-date font-roboto font-normal text-[16px] leading-[150%] tracking-norma text-[#000000] opacity-60">
                        {{ block.settings.date }}
                      </span>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Reviews",
    "settings": [
      {
        "type": "text",
        "label": "Heading",
        "id": "heading"
      }
    ],
    "blocks": [
      {
        "type": "review",
        "name": "review",
        "settings": [
          {
            "type": "image_picker",
            "label": "Image",
            "id": "image"
          },
          {
            "type": "text",
            "label": "Title",
            "id": "title"
          },
          {
            "type": "textarea",
            "label": "Description",
            "id": "desc"
          },
          {
            "type": "text",
            "label": "Name",
            "id": "name"
          },
          {
            "type": "text",
            "label": "Date",
            "id": "date"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Reviews"
      }
    ]
  }
{% endschema %}